* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(26, 2, 51, 0.572);
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.txt {
    text-transform: capitalize;
    font-family: Cambria, 'Times New Roman', serif;
    font-size: 1.5rem;
}

.txt:nth-child(even) {
    text-transform: lowercase;
}

.btn {
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 50px;
    color: rgb(241, 191, 12);
    background-color: cornflowerblue;
    text-transform: uppercase;
    border: none;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:200px ;
    width: 40rem;
}

#input_box {
    width: 20rem;
    height: 5rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    margin: 20px;

}
